on:
  workflow_run:
    workflows: [Build and deploy JAR app to Azure Web App - ecommerce-backend]
    types: [completed]

jobs:
  call-workflow: 
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/frontend_my-ecommerce-app.yml

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed'
